<main>
  <div class="position-relative">
    <img src="./assets/img/theme/morph.svg" class="morph" alt="">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container-fluid shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center">
            <div class="col-lg-6 text-center">
              <img src="./assets/img/theme/hat.svg" style="width: 200px;" class="img-fluid">
              <p class="lead text-white">Manage internships in the most fashionable way</p>
              <div class="btn-wrapper mt-5">
                <a (click)="scroll(target)" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0 radius">
                  <span class="btn-inner--text">Voir liste</span>
                </a>
              </div>
              <div class="mt-5">
                <div class="center-it align-items-center justify-content-center">
                  <div class="mouse"></div>
                  <div class="caption">Scroll to View</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <img src="./assets/img/theme/isometric.png" style="width: 60%" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <!-- <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div> -->
    </section>
  </div>
  <div class="container-fluid offers" #target>
    <div class="split left" [ngClass]="[clicked && op1  ? 'true' : '', clicked && !op1  ? 'false' : '']">
      <div class="container-fluid scroller">
        <h1>Liste des etudiants</h1>
        <button (click)='option1()' class="button btn btn-primary" [hidden]="clicked && op1">Consulter</button>
        <div class="container-fluid mb-4" *ngIf="clicked && op1">
          <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
            <ngb-tab title="All">
              <ng-template ngbTabContent>
                <div class="container-fluid">
                  <div class="row">

                    <!-- 3awed 3ala hethi -->
                    <div class="card shadow col-md-6 shadow-lg--hover mt-5" *ngFor="let st of students">
                      <div class="card-body">
                        <div class="d-flex px-3">
                          <div>
                            <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                              <i class="ni ni-hat-3"></i>
                            </div>
                          </div>
                          <div class="pl-4">
                            <h5 class="title text-success">{{st.firstName}} {{st.lastName}}</h5>
                            <p>{{st.level}}</p>
                            <p>{{st.Option}}</p>
                            <a (click)='detail(st)' class="text-success">Show Details</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </ng-template>
            </ngb-tab>
            <ngb-tab title="Terminale">
              <ng-template ngbTabContent>
                <div class="container-fluid">
                  <div class="row">
                   <!-- 3awed 3ala hethi -->
                   <div class="card shadow col-md-6 shadow-lg--hover mt-5" *ngFor="let st of terminalStudents">
                    <div class="card-body">
                      <div class="d-flex px-3">
                        <div>
                          <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                            <i class="ni ni-hat-3"></i>
                          </div>
                        </div>
                        <div class="pl-4">
                          <h5 class="title text-success">{{st.firstName}} {{st.lastName}}</h5>
                          <p>{{st.level}}</p>
                          <p>{{st.Option}}</p>
                          <a (click)='detail(st)' class="text-success">Show Details</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Non terminale">
              <ng-template ngbTabContent>
                <div class="container-fluid">
                  <div class="row">
                    <!-- 3awed 3ala hethi -->
                   <div class="card shadow col-md-6 shadow-lg--hover mt-5" *ngFor="let st of otherStudents">
                    <div class="card-body">
                      <div class="d-flex px-3">
                        <div>
                          <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                            <i class="ni ni-hat-3"></i>
                          </div>
                        </div>
                        <div class="pl-4">
                          <h5 class="title text-success">{{st.firstName}} {{st.lastName}}</h5>
                          <p>{{st.level}}</p>
                          <p>{{st.Option}}</p>
                          <a (click)='detail(st)' class="text-success">Show Details</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>

    <div class="split right" [ngClass]="[clicked && op2  ? 'true' : '', clicked && !op2  ? 'false' : '']">
      <h1>Liste des employés</h1>
      <button (click)='option2()' class="button btn btn-success" [hidden]="clicked && op2">Consulter</button>
      <div class="container-fluid mb-4" *ngIf="clicked && op2">
        <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
          <ngb-tab title="enseignants">
            <ng-template ngbTabContent>
              <div class="container-fluid">
                <div class="row">
                  <!-- 3awed 3ala hethi -->
                  <div class="card shadow col-md-6 shadow-lg--hover mt-5" *ngFor="let ts of teachers">
                    <div class="card-body">
                      <div class="d-flex px-3">
                        <div>
                          <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                            <i class="ni ni-hat-3"></i>
                          </div>
                        </div>
                        <div class="pl-4">
                          <h5 class="title text-success">{{ts.firstName}} {{ts.lastName}}</h5>
                          <p><strong>Degree:</strong> {{ts.degree}}</p>
                          <p><strong>Field:</strong> {{ts.field}}</p>
                          <a (click)='detailTeacher(ts)' class="text-success">Show Details</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Directeur de stage">
            <ng-template ngbTabContent>
              <div class="container-fluid">
                <div class="row">
                  <div class="card shadow col-md-6 shadow-lg--hover mt-5">
                    <div class="card-body">
                      <div class="d-flex px-3">
                        <div>
                          <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                            <i class="ni ni-hat-3"></i>
                          </div>
                        </div>
                        <div class="pl-4">
                          <h5 class="title text-success">{{director.firstName}} {{director.lastName}}</h5>
                          <p><strong>Mandate:</strong> {{director.mandate}}</p>
                          <a (click)="detailDirector(director)" class="text-success">Show Details</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
  <!-- <app-sections style="margin-top: 600px;"></app-sections> -->
</main>
<div class="modal-window" [hidden]='!showDetail'>
  <div class="overlyer" (click)='showDetail = !showDetail'></div>
  <div>
    <a title="Close" class="modal-close" (click)='showDetail = !showDetail'>Close</a>
    <div class="row">
      <div class="form-group col-md-4">
        First name: {{detailInfo.firstName}}
      </div>
      <div class="form-group col-md-4">
        Last name: {{detailInfo.lastName}}
      </div>
      <div class="form-group col-md-4" [hidden]="detailInfo.level ? false : true">
        Level: {{detailInfo.level}}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        Tel: {{detailInfo.tel}}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12" [hidden]="detailInfo.Option ? false : true">
        Option: {{detailInfo.Option}}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12" [hidden]="detailInfo.Internship ? false : true">
        Internship: {{detailInfo.Internship}}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        Email: {{detailInfo.email}}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12" [hidden]="detailInfo.field ? false : true">
        Field: {{detailInfo.field}}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12" [hidden]="detailInfo.degree ? false : true">
        Degree: {{detailInfo.degree}}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12" [hidden]="detailInfo.mandate ? false : true">
        Mandate: {{detailInfo.mandate}}
      </div>
    </div>
  </div>
</div>
